<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/ricknmorty.jpg" alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Rick & Morty's Restaurant</h1>
            <p>
                Pizza night just got a whole lot tastier. Get the best food
                straight to your door. Download our new app to start earning
                points for every dollar you spend!
            </p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                WHAT OUR FANTASTIC CUSTOMERS HAD TO SAY !
            </p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        "I had the best burger of my life here. Since then I
                        have visited this place numerous times and my opinion
                        about this burger has still not changed."
                    </p>
                </div>
                <div class="card-footer">
                    <p>-- Sandy Squirrel</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        "Excellent food. I enjoyed every single bite. Words
                        cannot express how awesome I felt after eating here!"
                    </p>
                </div>
                <div class="card-footer">
                    <p>-- Jimmy Neutron</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text"></p>
                    <p>
                        "This is my absolute favorite restaurant. Top Notch
                        phenomenal experience. Definitely a lifetime customer"
                    </p>
                </div>
                <div class="card-footer">
                    <p>-- Frozone</p>
                </div>
            </div>
        </div>
    </div>
</div>
